@import "tailwindcss";

@font-face {
  font-family: 'Plus-Medium';
  src: url(../assets/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: 'Plus-Bold';
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus-Medium';
}

#svg {
  margin-top: 20%;
}

@media (max-width:768px) {
  body {
    overflow: auto;
  }
}